/* ---------- 1024px ~ 1200px ---------- */

/* 중간 사이즈 모니터 헤더 */
@media (max-width: 1200px) {

    #header .gnb {
        left: 57%;
    }

    #header .login-play h2:first-child {
        margin: 0;
        border: none;
        color: #ffb60e;
    }

    #header .login-play h2:nth-child(2) {
        display: none;
    }
}

/* -------------- ~ 1024 ---------------*/

@media (max-width: 1024px) {

    /* ------ 공통 ------ */

    .gnb {
        display: none;
    }

    #header .gnb.show {
        width: 30%;
        background: #0b0b0b;
        display: block;
        position: fixed;
        top: 70px;
        left: auto;
        right: 25px;
        z-index: 10;
    }

    .gnb li {
        cursor: pointer;
        text-align: right;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    .gnb li:hover {
        background: rgba(255, 255, 255,0.3);
    }

    #header .login-play h2 {
        display: none;
    }

    #header .daum-game :not(:last-child) {
        display: none;
    }

    #footer .link p {
        display: none;
    }

    /* -------------------------- 헤더 --------------------------- */

    #header {
        width: 100%;
        display: flex;
        justify-content: center;

        z-index: 10;
        position: relative;

        white-space: nowrap;
    }

    #header .nav {
        padding: 0 15px;

        width: 95%;
        height: 55px;

        background: #0b0b0b;
        color: #fff;
        opacity: 90%;

        border-radius: 15px;

        position: fixed;
        margin: 13px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        z-index: 99999;
    }

    #header .logo {
        width: 53px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #header .logo img {
        width: 100%;
    }

    #header .daum-game {
        display: flex;
        align-items: center;
    }

    #header .daum-game svg {
        padding: 5px;
        box-sizing: content-box;
    }

    #header .daum-game svg:hover {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        cursor: pointer;
    }

    #header .login-play {
        display: flex;
        justify-content: center;

        gap: 7px;
    }

    #header .login-play svg {
        padding: 5px;
        box-sizing: content-box;
    }

    #header .login-play svg:hover {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        cursor: pointer;
    }

    /* ################################## 메인 01 게임정보 ##################################### */

    #main-01 .main-visual {
        width: 100%;
        height: 734px;
        position: relative;
    }

    #main-01 .main-visual video {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    #main-01 .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    /* --------main text-------- */

    #main-01 .main-text {
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    #main-01 .main-text {
        width: 287px;
        text-align: center;
    }

    #main-01 .main-text h3 {
        font-weight: 600;
        font-size: 18px;
        color: #fff;

        margin-bottom: 30px;
    }

    #main-01 .main-text img {
        width: 100%;
        margin-bottom: 40px;
    }

    #main-01 .main-text a {
        display: inline-block;

        font-weight: 700;
        font-size: 18px;
        color: #000;

        padding: 20px 30px;
        background: #ffb60e;

        text-align: center;
    }

    #main-01 .main-text a:hover {
        background: #e68a0a;
        cursor: pointer;
    }

    /* --------------------------- 섹션 01 ---------------------------- */

    #section-01 {
        width: 100%;
        height: 100%;

        background: #dfdcd5;

        padding: 100px 40px;
    }

    #section-01 .item {
        position: relative;
    }

    #section-01 .text h3 {
        font-family: "VITRO";
        font-size: 40px;
        margin-bottom: 30px;
    }

    #section-01 .text p {
        font-weight: 300;
        line-height: 31.5px;
        font-size: 21px;
        margin-bottom: 30px;
    }

    #section-01 .item button {
        background: #2a2a2a;
        padding: 20px 30px;
        color: #fff;

        font-size: 18px;
        font-weight: 600;
        
        margin-bottom: 20px;
    }

    #section-01 .item button:hover {
        background: #4d4d4d;
    }

    /* ------------- video 1 ------------ */

    #section-01 video {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    /* --------------------------- 섹션 02 ---------------------------- */

    #section-02 {
        width: 100%;
        height: 100%;

        background: #484848;

        padding: 100px 40px;
    }

    #section-02 .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #section-02 .item {
        position: relative;
    }

    #section-02 .text {
        color: #fff;
    }

    #section-02 .text h3 {
        font-family: "VITRO";
        font-size: 40px;
        margin-bottom: 30px;
    }

    #section-02 .text p {
        font-weight: 300;
        line-height: 31.5px;
        font-size: 21px;
        margin-bottom: 30px;
    }

    #section-02 .item button {
        background: #f2f2f2;
        padding: 20px 30px;
        color: #000;
        
        font-size: 18px;
        font-weight: 600;
        
        margin-bottom: 20px;
    }

    #section-02 .item button:hover {
        background: #d1d1d1;
    }

    /* ------------- video 2 ------------ */

    #section-02 video {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    /* --------------------------- 섹션 03 ---------------------------- */

    #section-03 {
        width: 100%;
        height: 100%;

        background: #dfdcd5;

        padding: 100px 40px;
    }

    #section-03 .item {
        position: relative;
    }

    #section-03 .text h3 {
        font-family: "VITRO";
        font-size: 40px;
        margin-bottom: 30px;
    }

    #section-03 .text p {
        font-weight: 300;
        line-height: 31.5px;
        font-size: 21px;
        margin-bottom: 30px;
    }

    #section-03 .item button {
        background: #2a2a2a;
        padding: 20px 30px;
        color: #fff;

        font-size: 18px;
        font-weight: 600;
        
        margin-bottom: 20px;
    }

    #section-03 .item button:hover {
        background: #4d4d4d;
    }

    /* ------------- video 3 ------------ */

    #section-03 video {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    /* --------------------------- 섹션 04 ---------------------------- */

    #section-04 {
        width: 100%;
        height: 100%;

        background: #eaa810;

        padding: 100px 40px;
    }

    #section-04 .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #section-04 .item {
        position: relative;
    }

    #section-04 .text h3 {
        font-family: "VITRO";
        font-size: 40px;
        margin-bottom: 30px;
    }

    #section-04 .text p {
        font-weight: 300;
        line-height: 31.5px;
        font-size: 21px;
        margin-bottom: 30px;
    }

    #section-04 .item button {
        background: #f2f2f2;
        padding: 20px 30px;
        color: #000;
        
        font-size: 18px;
        font-weight: 600;

        margin-bottom: 20px;
    }

    #section-04 .item button:hover {
        background: #d1d1d1;
    }

    /* ------------- video 4 ------------ */

    #section-04 video {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    /* --------------------------- 섹션 05 ---------------------------- */

    #section-05 {
        width: 100%;
        height: 100%;

        background: #dfdcd5;

        padding: 100px 40px;
    }

    #section-05 .item {
        position: relative;
    }

    #section-05 .text h3 {
        font-family: "VITRO";
        font-size: 40px;
        margin-bottom: 30px;
    }

    #section-05 .text p {
        font-weight: 300;
        line-height: 31.5px;
        font-size: 21px;
        margin-bottom: 30px;
    }

    #section-05 .item button {
        background: #2a2a2a;
        padding: 20px 30px;
        color: #fff;
        
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    #section-05 .item button:hover {
        background: #4d4d4d;
    }

    /* ------------- video 5 ------------ */

    #section-05 img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    /* --------------------------- 섹션 06 ---------------------------- */

    #section-06 {
        width: 100%;
        height: 100%;

        background: #484848;

        padding: 100px 40px;
    }

    #section-06 .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #section-06 .item {
        position: relative;
    }

    #section-06 .text {
        color: #fff;
    }

    #section-06 .text h3 {
        font-family: "VITRO";
        font-size: 40px;
        margin-bottom: 30px;
    }

    #section-06 .text p {
        font-weight: 300;
        line-height: 31.5px;
        font-size: 21px;
        margin-bottom: 30px;
    }

    #section-06 .item button {
        background: #f2f2f2;
        padding: 20px 30px;
        color: #000;
        
        font-size: 18px;
        font-weight: 600;
        
        margin-bottom: 20px;
    }

    #section-06 .item button:hover {
        background: #d1d1d1;
    }

    /* ------------- video 6 ------------ */

    #section-06 video {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    /* ################################## 메인 02 새소식 ##################################### */

    #main-02 {
        background: #dfdcd5;
    }

    #main-02 .header {
        width: 100%;
        height: 300px;

        background: #eaa810;

        padding: 200px 32px 0;
    }

    #main-02 .header h2 {
        display: inline-block;

        font-family: "VITRO";
        font-size: 70px;
        color: #fff;
    }

    #main-02 .container {
        padding: 32px 32px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #main-02 .item-wrap {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #main-02 .item {
        width: 48%;
    }

    #main-02 .item img {
        width: 100%;
        margin-bottom: 15px;
    }

    #main-02 .item p {
        font-size: 14px;
        color: #555;
        font-weight: 600;
    }

    #main-02 .item h3 {
        width: 90%;
        white-space: normal;

        line-height: 28.6px;
        font-weight: 600;
        font-size: 22px;

        margin: 10px 0 8px;
    }

    #main-02 .item span {
        display: block;
        width: 95%;

        color: #444;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;

        margin-bottom: 32px;
    }

    #main-02 .more-view {
        padding: 22px 30px;
        background: #f2f2f2;
        font-size: 21px;
        font-weight: 600;
        margin-top: 80px;
    }

    #main-02 .more-view:hover {
        background: #d1d1d1;
    }
}

/* ------------- ~600px ------------- */

/* 메인 2 새소식 아이템 1줄 정렬 */
@media (max-width: 600px) {
    #main-02 .item {
        width: 100%;
    }
}

/* ------------------------------------- */

@media (max-width: 1024px) {

    /* ################################## 메인 03 굿즈 ##################################### */

    #main-03 {
        background: #dfdcd5;
    }

    #main-03 .header {
        width: 100%;
        height: 300px;

        background: #eaa810;

        padding: 200px 32px 0;
    }

    #main-03 .header h2 {
        display: inline-block;

        font-family: "VITRO";
        font-size: 70px;
        color: #fff;
    }

    /* ################################## 메인 04 굿즈 ##################################### */

    #main-04 {
        background: #dfdcd5;
    }

    #main-04 .header {
        width: 100%;
        height: 300px;

        background: #eaa810;

        padding: 200px 32px 0;
    }

    #main-04 .header h2 {
        display: inline-block;

        font-family: "VITRO";
        font-size: 70px;
        color: #fff;
    }

    /* ################################## 메인 05 굿즈 ##################################### */

    #main-05 {
        background: #dfdcd5;
    }

    #main-05 .header {
        width: 100%;
        height: 300px;

        background: #eaa810;

        padding: 200px 32px 0;
    }

    #main-05 .header h2 {
        display: inline-block;

        font-family: "VITRO";
        font-size: 70px;
        color: #fff;
    }

}